
            /* TELA DE CADASTRO */
            .BtnCancelar {
                min-width: 90px;
            }
    
            button.BtnSalvar,
            a.BtnSalvar {
                min-width: 90px;
            }
    
            .DescTextarea {
                height: 200px;
            }
    
    
            /* TELA DE LOGIN  E CADASTRO*/
            body.FundoLogin {
                background-color: #96BB7C;
            }
    
            div#cardLogin {
                min-width: 400px;
                min-height: 400px;
            }
    
            div#cardCadastro {
                min-width: 400px;
                min-height: 400px;
            }
