<div id="CardCriaLista" class="card shadow">
    <div class="card-body">
        <div class="p-5 text-start rounded-3">
            <h1 class="text-body-emphasis">Vamos Comprar?</h1>
            <p class="col-lg-8 text-body-emphasis fs-4">
                Crie sua a lista e vamos organizar
            </p>
            <button type="button" class="btn btn-outline-dark">Criar uma lista</button>
        </div>
    </div>
</div>

<div id="ScrollCategoria" class="position-relative mt-3">
    <div id="ScrollCategoriaButtons"
        class="position-absolute d-flex flex-row justify-content-between align-items-center w-100 h-100 pe-none">
        <a id="ScrollCategoriaLeft" class="pe-auto fs-5 px-2 text-dark">
            <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="13.9997" cy="14" r="13" transform="rotate(179 13.9997 14)" fill="#B4EAB3" />
                <path d="M15.0694 17.9819L11.0002 14.0524L14.9298 9.98314" stroke="#4F4F4F" stroke-width="2.28572"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>

        </a>
        <a id="ScrollCategoriaRight" class="pe-auto fs-5 px-2 text-dark">
            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="13" cy="13" r="13" fill="#B4EAB3" />
                <path d="M12 9.00001L16 13L12 17" stroke="#4F4F4F" stroke-width="2.28572" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>

        </a>
    </div>
    <div id="ScrollCategoriaList" class="d-inline-flex gap-3 flex-row overflow-auto px-4 w-100">
        <button type="button" class="btn btn-sm btn-outline-dark shadow-sm px-2 d-flex flex-row">
            <i class="bi bi-circle-fill me-1"></i> CategoriaNomeMaior
        </button>
        <button type="button" class="btn btn-sm btn-outline-dark shadow-sm px-2 d-flex flex-row">
            <i class="bi bi-circle-fill me-1"></i> CategoriaNome
        </button>
        <button type="button" class="btn btn-sm btn-outline-dark shadow-sm px-2 d-flex flex-row">
            <i class="bi bi-circle-fill me-1"></i> Cat.
        </button>
        <button type="button" class="btn btn-sm btn-outline-dark shadow-sm px-2 d-flex flex-row">
            <i class="bi bi-circle-fill me-1"></i> CategoriaNomeMaior
        </button>
        <button type="button" class="btn btn-sm btn-outline-dark shadow-sm px-2 d-flex flex-row">
            <i class="bi bi-circle-fill me-1"></i> CategoriaNome
        </button>
        <button type="button" class="btn btn-sm btn-outline-dark shadow-sm px-2 d-flex flex-row">
            <i class="bi bi-circle-fill me-1"></i> CategoriaNomeMaior
        </button>
        <button type="button" class="btn btn-sm btn-outline-dark shadow-sm px-2 d-flex flex-row">
            <i class="bi bi-circle-fill me-1"></i> CategoriaNome
        </button>
        <button type="button" class="btn btn-sm btn-outline-dark shadow-sm px-2 d-flex flex-row">
            <i class="bi bi-circle-fill me-1"></i> CategoriaNomeMaior
        </button>
        <button type="button" class="btn btn-sm btn-outline-dark shadow-sm px-2 d-flex flex-row">
            <i class="bi bi-circle-fill me-1"></i> CategoriaNome
        </button>
    </div>
</div>

<div class="row my-4">
    <div class="col-12 col-lg-6">
        <h3 class="fs-4">Minhas Listas</h3>
        <div class="row g-2">
            <div class="col-12">
                <div class="card shadow-sm py-2 px-3">
                    <a href="#" class="card-body list-group-item list-group-item-action border-0">
                        <div class="d-flex justify-content-between align-items-center gap-3">
                            <i class="bi bi-journal-text fs-2"></i>
                            <div class="d-flex flex-column w-100 justify-content-between">
                                <h5 class="mb-0 text-truncate">And some small print.</h5>
                                <small>00/00/0000 | 0 Itens</small>
                            </div>
                            <button type="button" class="btn btn-outline-success">
                                <i class="bi bi-piggy-bank fs-5"></i>
                            </button>
                        </div>

                    </a>
                </div>
            </div>
            <div class="col-12">
                <div class="card shadow-sm py-2 px-3">
                    <a href="#" class="card-body list-group-item list-group-item-action border-0">
                        <div class="d-flex justify-content-between align-items-center gap-3">
                            <i class="bi bi-journal-text fs-2"></i>
                            <div class="d-flex flex-column w-100 justify-content-between">
                                <h5 class="mb-0 text-truncate">And some small print.</h5>
                                <small>00/00/0000 | 0 Itens</small>
                            </div>
                            <button type="button" class="btn btn-outline-success">
                                <i class="bi bi-piggy-bank fs-5"></i>
                            </button>
                        </div>

                    </a>
                </div>
            </div>
            <div class="col-12">
                <div class="card shadow-sm py-2 px-3">
                    <a href="#" class="card-body list-group-item list-group-item-action border-0">
                        <div class="d-flex justify-content-between align-items-center gap-3">
                            <i class="bi bi-journal-text fs-2"></i>
                            <div class="d-flex flex-column w-100 justify-content-between">
                                <h5 class="mb-0 text-truncate">And some small print.</h5>
                                <small>00/00/0000 | 0 Itens</small>
                            </div>
                            <button type="button" class="btn btn-outline-success">
                                <i class="bi bi-piggy-bank fs-5"></i>
                            </button>
                        </div>

                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <h3 class="fs-4">Mercados</h3>
        <!-- <div class="row g-3">
            <div class="col-6">
                <div class="card card-body w-100 h-100">
                    <img src="~/img\png\Mask group.png" alt="">
                </div>
            </div>
            <div class="col-6">
                <div class="card card-body w-100 h-100">
                    <img src="~/img\png\Mask group.png" alt="">
                </div>
            </div>
            <div class="col-6">
                <div class="card card-body w-100 h-100">
                    <img src="~/img\png\Mask group.png" alt="">
                </div>
            </div>
            <div class="col-6">
                <div class="card card-body w-100 h-100">
                    <img src="~/img\png\Mask group.png" alt="">
                </div>
            </div>
        </div>  -->
    </div>
</div>
<script>

    var btnLeft = document.getElementById('ScrollCategoriaLeft');
    var btnRight = document.getElementById('ScrollCategoriaRight');
    var ScrollCategoriaList = document.getElementById('ScrollCategoriaList');

    btnLeft.addEventListener('click', function () {
        ScrollCategoriaList.scrollLeft -= 100; // Ajuste este valor conforme necessário
    });

    btnRight.addEventListener('click', function () {
        ScrollCategoriaList.scrollLeft += 100; // Ajuste este valor conforme necessário
    });

    function checkScroll() {
        if (!(ScrollCategoriaList.scrollWidth > ScrollCategoriaList.clientWidth)) {
            btnLeft.style.display = "none";
            btnRight.style.display = "none";
        }
    }

    document.addEventListener('DOMContentLoaded', checkScroll);
    window.addEventListener('resize', checkScroll);

</script>